{{!< default}}

{{#if currentUser}}

    {{else}}
      <div class="sign-up-group">
        <div class="row">

          <div class="columns large-8">


          </div>


          <div class="columns large-4">

            <div class="signup-box">
              
            </div>
            
          </div>
        
          

        </div>
      </div>
    {{/if}}
    
<section class="brands">
  <h2 class="title">教育品牌</h2>
  <ul class="lists">
    {{#each brands}}
    <li>
    <img src="/uploads/{{this.image}}" alt="{{this.name}}">
    <div class='name'>{{this.name}}</div>
    </li>
    {{else}}
    <li class="blank">
        -- 没有品牌 --
    </li>
    {{/each}}
  </ul>
</section>

<div class="row">
  <div class="columns large-9">
    <section class="trainings">
      <h2 class="title">课程列表</h2>
      <ul class="lists">
        {{#each trainings}}
        <li>
        <div class="img-wrap">
          <img class='cover' src="/uploads/{{this.adver}}" alt="
        {{this.name}}">
        </div>
        <div class="meta">
          <div class="brand"><img src="/uploads/{{this.brand.image}}" alt=""></div>
          <div class='name'>{{this.name}}</div>
          <button class="tiny">马上报名</button>
        </div>
        </li>
        {{else}}
        <li class="blank">
        -- 没有品牌 --
        </li>
        {{/each}}
      </ul>
    </section>
  </div>

  <div class="columns large-3">
    <div class="row">
      <div class="columns large-12">
        <div class="search-panel">
          <select name="brand" id="">
            {{#each brands}}
            <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
          </select>
          <select name="category" id="">
          <option value="1">特长培训</option>
            <option value="2">中考</option>
            <option value="3">高考</option>
            <option value="4">考研</option>
            <option value="5">英语</option>
            <option value="6">留学</option>
            <option value="7">资格证考</option>  
         </select>
         <select name="age" id="">
           <option value='1'>学前</option>
              <option value='2'>幼升小</option>
              <option value='3'>小升初</option>
              <option value='4'>中学</option>
              <option value='5'>大学</option>
              <option value='6'>成人</option>
         </select>

          <select name="area" id="area">
              <option value="1">北京</option>
              <option value="2">天津</option>
              <option value="3">其他</option>
            </select>
          <input type="text" name='search' placeholder='输入查询条件'>
          <button class="tiny">查询</button>
        </div>
      </div>
    </div>
  </div>
</div>
