<h2>添加培训信息</h2>
  <div class="training-box">
    <form id="training" action='/trainings/{{trainings.id}}/update/' class="training-form" method="post" novalidate="novalidate" enctype="multipart/form-data">
      <input type="hidden" name="_csrf" class='csrf' value="{{csrfToken}}"> 
      <div class="row">
        <div class="columns large-12">
          <div class="input-wrap email-wrap">
            <input class="name" type="text" placeholder="培训名称" name="name" autocapitalize="off" autocorrect="off" value={{trainings.name}}>
            <div class="error"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="columns large-12">
          <div class="input-wrap image-wrap">
            <label for="file">选择培训图片：</label>
            <input id='file' type="file" name="adver">
            <div class="error"></div>
        </div>

        </div>
      </div>

      <div class="row">
        <div class="columns large-6">
          
          <div class="input-wrap brand-wrap">
            <label for="file">选择培训品牌：</label>
            <select name="brand_id" id="brandid">
            {{#select trainings.brand_id }}
              {{#each brands}}
                <option value="{{this.id}}">{{this.name}} </option>
              {{/each}}
            {{/select}}
            </select>
            <div class="error"></div>
          </div>
        </div>
        <div class="columns large-6">
          <div class="input-wrap age-wrap">
            <label for="ages">选择培训年龄段：</label>
            <select name="ages" id="ages">
            {{#select trainings.ages}}
              <option value='1'>学前</option>
              <option value='2'>幼升小</option>
              <option value='3'>小升初</option>
              <option value='4'>中学</option>
              <option value='5'>大学</option>
              <option value='6'>成人</option>
              {{/select}}
            </select>
            
            <div class="error"></div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="columns large-6">
          <div class="input-wrap age-wrap">
            <label for="category">选择培训类型：</label>
            <select name="category" id="category">
              {{#select trainings.category}} 
              <option value="1">特长培训</option>
              <option value="2">中考</option>
              <option value="3">高考</option>
              <option value="4">考研</option>
              <option value="5">英语</option>
              <option value="6">留学</option>
              <option value="7">资格证考</option>
              {{/select}}
            </select>
            <div class="error"></div>
          </div>
        </div>

        <div class="columns large-6">
          <div class="input-wrap age-wrap">
            <label for="area">选择培训类型：</label>
            <select name="area" id="area">
              {{#select trainings.area}} 
              <option value="1">北京</option>
              <option value="2">天津</option>
              <option value="3">其他</option>
              {{/select}}
            </select>
            <div class="error"></div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="columns large-12">
        <label for="desc"> 描述信息： </label>
          <textarea name="desc" id="desc" class='fixed-size'>{{trainings.desc}}</textarea>
        </div>
      </div>


      <button class="button-save flat full" type="submit">提交</button>

    </form>

  </div>
 <a class="close-reveal-modal">&#215;</a>