<td>{{@index}}</td>
<td>{{this.name}}</td>
<td>{{this.url}}</td>
<td><img src="/uploads/{{this.image}}" alt="" class='height-fix'></td>
<td>
  <a class='button tiny' href="/brands/{{this.id}}/edit" data-reveal-id="edit_brand" data-reveal-ajax="true">
    编辑
  </a>
  <a href="/brands/{{this.id}}/delete" class="button tiny alert delete">删除</a>
</td>
