<td>{{@index}}</td>
<td>{{this.name}}</td>
<td>{{this.url}}</td>
<td>{{this.description}}</td>
<td>
    <a class='button tiny' href="/subjects/{{this.id}}/edit" data-reveal-id="edit_brand" data-reveal-ajax="true">
        Edit
    </a>
    <a href="/subjects/{{this.id}}/delete" class="button tiny alert delete">Delete</a>
</td>